body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.header img:nth-child(1) {
  width: 45px;
  height: 45px;
  border-radius: 30px;
}

.header input:focus {
  border: 1px solid gray !important;
  outline: none !important;
}
.header input {
  border: 1px solid gray;
  width: 30%;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: medium;
}
.header {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #e0e7ec;
  box-sizing: border-box;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  overflow: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 60%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  margin: 0;
}

.close {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

/* Post content */
.post-textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
}

.post-textarea:active,
.post-textarea:hover {
  outline: none;
  border: 1px solid blue;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.post-actions .image-upload {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.post-actions .image-upload input[type="file"] {
  display: none;
}

.post-actions .image-upload img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.post-image-preview {
  overflow: auto;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap into the next row */
  gap: 10px; /* Add spacing between images */
}

.post-image-preview img {
  flex: 1 1 calc(33.33% - 10px); /* Each image takes up approximately 1/3 of the width minus the gap */
  max-width: calc(
    33.33% - 10px
  ); /* Each image will take 1/3 of the container width */
  max-height: 100px; /* Optional: Set a max height for images */
  border-radius: 5px;
  object-fit: cover;
}

.post-submit {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
#postBtn:disabled {
  background-color: #80dd95; /* Initial background when disabled */
  cursor: not-allowed; /* Disable pointer events */
}
#postBtn:not(:disabled):hover {
  color: white; /* Background turns white on hover */
}
.post-submit:hover {
  background-color: #218838;
}
